.column{
  width: 31%;
  float:left;
  text-align: justify;
  padding-left: 10px;
}
.column p span {
  font-style: italic;
  font-weight: bolder;
  color: red;
}
.column p a {
  font-weight: bolder;
  color: blue;
}

img.small-photo {
  width:100%;
  float:left;
}
